* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.925);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    cursor: pointer;
}
.container{
    background-color: rgba(0, 0, 0, 0.925);
    border: white solid 2px;
    border-radius: 6px;

    box-shadow: 0 0 2px 2px;
    width: 90%;
    max-width: 800px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.perguntas-container{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;   
}
.pergunta{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
.respostas-button{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
.proxima-pergunta{
    margin-top: 32px;
}
.button{
    background-color: #4863f7;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 6px;
    height: 48px;
    padding: 0 32px;
    transition: filter 0.2s;
}
.button:not(:disabled):hover{
    filter: brightness(0.8);
}
.resposta:disabled {
    cursor: not-allowed;
}
.hide{
    display: none;
}
.correta {
    background-color: rgb(0, 110, 0);
}
.errada {
    background-color: rgb(190, 0, 0);
}

